asgiref==3.2.10
astroid==2.4.2
certifi==2020.6.20
cffi==1.14.3
click==7.1.2
client==
cryptography==3.1.1
Django==3.0.8
Flask==1.1.2
Flask-MySQLdb==0.2.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
Markdown==3.2.2
markdown2==2.3.9
MarkupSafe==1.1.1
mccabe==0.6.1
mysql==0.0.2
mysql-connector-python==8.0.21
mysqlclient==2.0.1
Pillow==7.2.0
protobuf==3.13.0
pycparser==2.20
pylint==2.5.3
pylint-django==2.3.0
pylint-plugin-utils==0.6
PyMySQL==0.10.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
Werkzeug==1.0.1
wrapt==1.12.1
