{% extends "auctions/layout.html" %}

{% block body %}

<br>
<div style="text-align: center">
    <h1 style="font-family:Times New Roman;">Create Listing</h1>
</div>

<div>
    <div class="form-group" style="box-sizing:border-box;width:800px;padding:20px;margin: auto;margin-top: 20px;">
        <form action="{% url 'create' %}" method='POST'autocomplete="off">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create Listing" style="padding:10px;border:none;background-color:#17a2b8;color:#fff;font-weight:600;border-radius:5px;width:100%;margin-top: 10px;"> 
        </form>
    </div>
</div>
{% endblock %}